{% extends 'base.html' %}


{% block content %}


    {% for post in object_list %}

        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.timestamp| timesince }} ago <a href="{{ post.get_absolute_url }}">{{ post.user }}</a></p>
            {% if post.image %}
                <img style="width:400px; height:250px" src="{{ post.image.url }}" class="img-responsive"/>
            {% endif %}
            <p>{{ post.content | truncatechars:200 }}</p>
            <p><a class="btn btn-primary btn-lg" href="{{ post.get_absolute_url }}" role="button">Learn more</a></p>
        </div><!-- /.blog-post -->


    {% endfor %}



{% endblock %}
