<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'posts/blog.css' %}">
</head>
<body>

{% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
                <li class ="message"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="#">Home</a>
            <a class="blog-nav-item" href="{% url 'posts:list' %}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Posts
            </a>
            <a class="blog-nav-item" href="{% url 'posts:create' %}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add Post
            </a>
            <a class="blog-nav-item pull-right" href="{% url "register" %}"><span
                    class="glyphicon glyphicon-user"></span> Register</a>
            {% if not request.user.is_authenticated %}
                <a class="blog-nav-item pull-right" href="{% url "login" %}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login
                </a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <ul class="blog-nav-item pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Welcome, {{ request.user }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Blog</h1>
        <p class="lead blog-description">blog</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                {% block content %}

                {% endblock %}
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                    fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                {# date.0 - month and year; date.1 - number of posts for this month #}
                {% for date in unique_year_month %}
                    {% with date.0 as year_month %}
                        <ol class="list-unstyled">
                            <li>
                                <a href="{% url "posts:list-filtered" year_month %}"> {{ date.0|date:"M Y" }} </a>({{ date.1 }})
                            </li>
                        </ol>
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->

    <footer class="blog-footer">
        <p>2018</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('ul li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
        });
    });
</script>
</body>
</html>