{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    {% if request.user.is_superuser %}
        <a class="btn btn-info" href="{% url 'posts:update' instance.id %}">Edit post</a>
        <a class="btn btn-danger" href="{% url 'posts:delete' instance.id %}">Delete post</a>
    {% endif %}
    <p></p>
    {% if instance.image %}
        <img style="width:800px; height:400px" src="{{ instance.image.url }}" class="img-responsive"/>
    {% endif %}

    <h1>{{ instance.title }}</h1>
    <p>{{ instance.content }}</p>
    <p>Author: {{ instance.user }}</p>

    <div>
        <h1>Comments</h1>
        <form method="POST" action="" class="post-form" enctype="multipart/form-data" novalidate="novalidate">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Submit">
        </form>

        <div class="panel panel-default">
            <div class="panel-body">
                {% for comment in comments %}
                    <div class="">
                        <div class="">{{ comment.timestamp }}</div>
                        <strong>{{ comment.user }}</strong>
                        <p>{{ comment.content|linebreaks }}</p>
                        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}